:root {
    --color1: rgb(219, 144, .5);
    --color2: rgba(23, 180, 83, .0788);
    --color3: rgba(11, 194, 211, 0.623);
    --background: #f2f2f2;
    --titles: 33px;
    --margins: 60px;
    --spaces: 10px;
    --spaces-contents: 45px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'open sans';
    background: var(--background);
}

img {
    vertical-align: top;
}


/* Preloader */

.lds-spinner {
    color: official;
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-spinner div {
    transform-origin: 40px 40px;
    animation: lds-spinner 1.2s linear infinite;
}

.lds-spinner div:after {
    content: " ";
    display: block;
    position: absolute;
    top: 3px;
    left: 37px;
    width: 6px;
    height: 18px;
    border-radius: 20%;
    background: #cef;
}

.lds-spinner div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -1.1s;
}

.lds-spinner div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -1s;
}

.lds-spinner div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.9s;
}

.lds-spinner div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.8s;
}

.lds-spinner div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.7s;
}

.lds-spinner div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.6s;
}

.lds-spinner div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.5s;
}

.lds-spinner div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.4s;
}

.lds-spinner div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.3s;
}

.lds-spinner div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.2s;
}

.lds-spinner div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.1s;
}

.lds-spinner div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
}

@keyframes lds-spinner {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}


/* Header */

header {
    width: 100%;
    height: 600px;
    background: linear-gradient(to bottom, rgba(211, 135, 20, .6), rgba(29, 241, 171, .6), rgba(7, 109, 150, .45)), url(image/fondo.jpg);
    /* background: linear-gradient(to bottom, rgba(255, 233, 0, 1), rgba(0, 0, 255, 0.5), rgba(255, 0, 0, .5)), url(image/fondo.jpeg); */
    /* background: url(image/fondo.jpeg); */
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

nav {
    width: 100%;
    position: fixed;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .5);
}

.nav1 {
    background: transparent;
    height: 80px;
    color: #fff;
}

.nav2 {
    background: var(--background);
    height: 100px;
    color: #000;
}

.content-nav {
    display: flex;
    margin: auto;
    width: 90%;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    height: inherit;
    overflow: hidden;
}

nav .link a {
    display: inline-block;
    padding: 5px 0;
    margin-right: 17px;
    font-size: 17px;
    font-weight: 300;
    text-decoration: none;
    border-bottom: 3px sold transparent;
    color: inherit;
}

nav .link a:hover {
    border-bottom: 3px solid#1498A4;
    transition: 0.6s;
}

.logo,
.logo img {
    height: 80px;
}

.icon {
    display: none;
    font-size: 24px;
    padding: 23.5px 20px;
}

.text {
    width: 100;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: #fff;
    overflow: hidden;
    text-align: center;
}

.text>h1 {
    font-size: 80px;
}

.text>h2 {
    font-size: 30px;
    font-weight: 300;
}


/* Main */

.container {
    margin: auto;
    padding: var(--margins) 0;
    width: 90%;
    max-width: 1000px;
    text-align: center;
    overflow: hidden;
}

.container h3 {
    font-size: var(--titles);
    color: var(--color1);
    margin-bottom: var(--spaces);
}

.container p {
    font-size: var(--subTitles);
    font-weight: 300;
    color: var(--color1)
}

.after::after {
    content: '';
    display: block;
    margin: auto;
    margin-top: var(--spaces);
    width: 100px;
    height: 2px;
    background: var(--color1);
    margin-bottom: var(--spaces-contents);
}

.card {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.content-card {
    width: 31%;
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
    overflow: hidden;
    height: 400px;
}

.people {
    height: 80%;
}

.content-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text-team {
    height: 20%;
    width: 100%;
    padding: var(--spaces) 0;
}

.about {
    background: url(image/teclado.jpg);
    height: auto;
}

.service {
    display: flex;
    color: #fff;
    justify-content: space-between;
    margin: auto;
    flex-wrap: wrap;
}

.box-service>h4 {
    margin-bottom: var(--spaces);
}

.box-service>p {
    text-align: center;
}

.button-job {
    overflow: hidden;
}

.button-job li {
    display: inline-block;
    text-align: center;
    margin-left: var(--spaces);
    margin-bottom: var(--spaces-contents);
    padding: 6px 12px;
    border: 1px solid var(--color1);
    list-style: none;
    color: var(--color1)
}